// Plugins CSS
@import "plugins/plugin-nouislider";
@import "plugins/plugin-react-datetime";

// Core CSS
@import "now-ui-kit/misc";
@import "now-ui-kit/typography";

// components
@import "now-ui-kit/dropdowns";
@import "now-ui-kit/modals";
@import "now-ui-kit/popovers";

// example pages and sections
@import "now-ui-kit/sections";


@import "now-ui-kit/responsive";
